@{
    ViewBag.Title = "MVC ActionLink ";
}

<div class="jumbotron">
    <h1>MVC ActionLink</h1>
    <p class="lead">MVC ActionLink C#  Diplomado UASD.</p>
    <p><a href="https://docs.microsoft.com/en-us/dotnet/api/system.web.mvc.html.linkextensions.actionlink?view=aspnet-mvc-5.2" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
