@model DiplomadoMVC_Crud_HTML_Helps_NoTipados.Models.Producto
@{
    ViewBag.Title = "ModificacionDeProducto";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listar Producto</title>
</head>
<body>
    <div>
        @using(Html.BeginForm("ModificacionDeProducto", "Home",FormMethod.Post))
        { 
        <p>

            Codigo de Producto:
            @Html.DisplayFor(model => model.Codigo)
            @Html.HiddenFor(model => model.Codigo)

        </p>
        <p>
            Descripcion:
            @Html.TextBoxFor( model=> model.Descripcion)
        </p>
        <p>
            Procio:
            @Html.TextBoxFor(model => model.Precio)
        </p>

        <p>
            <input type="submit" value="Confirmar" />
        </p>
        }
    </div>
</body>
</html>
