
@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="jumbotron; col-md-10">
       <p>Los datos de los Estudiante fueron Cargados correctamente.</p>
        @Html.ActionLink("Retornar","Index")
    </div >

</body>
</html>
